<html>
    <head>
        <title>Scizers</title>
        <link rel="stylesheet" type="text/css" href="./stylesheets/app.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    </head>
    <body>

